<div class="grey-container">
    <div class="container">

        <div class="row">
            <div class="col-md-12">

                <white-box class="text-center">
                    <h1>{{'login.signupConfirmH' | translate}}</h1>

                    <p>{{'login.signupConfirmP' | translate}}</p>

                    <p>
                        <redirect-timer
                                redirect-state="{{redirectState}}"
                                redirect-title="{{redirectTitle}}">
                        </redirect-timer>
                    </p>
                </white-box>

            </div>

        </div>

    </div>
</div>