<div class="app-header">
    <div class="navbar">
        <div class="container">
            <div class="header-logo">
                <a href="#" ui-sref="home">
                    <img src="assets/ui/logo.gif" alt="logo"/>
                </a>
            </div>

            <div class="header-menu">
                <ul class="nav navbar-nav">
                    <li>
                        <login-link></login-link>
                    </li>
                    <li>
                        <cart-link></cart-link>
                    </li>
                    <li>
                        <translate-dropdown></translate-dropdown>
                    </li>
                </ul>
            </div>

            <div class="header-search">
                <main-search></main-search>
            </div>

        </div>
    </div>
</div>
