<div class="product grey-container">
    <div class="container">

        <white-box>

            <div class="row">

                <div class="col-md-9">
                    <product-info product="product"></product-info>
                </div>

                <div class="col-md-3">
                    <div class="text-center add-to-cart-section">
                        <div>
                            <b>{{'productPage.ShareLink' | translate}}</b>
                            <ul class="list-inline share-social">
                                <li>
                                    <fb-share
                                            url="{{sharingInfo.url}}"
                                            title="{{product.title}}"
                                            description="{{product.descr}}"
                                            image="{{CommonMethods.getCoverImg(product.product_id, 'xlarge', 1)}}">
                                    </fb-share>
                                </li>

                                <li class="twitter">
                                    <twitter-share></twitter-share>
                                </li>


                            </ul>
                        </div>


                        <button ng-click="addToCart()" id="add-to-cart-btn"
                                type="button" class="btn btn-success btn-lg btn-block add-to-cart">
                            <i class="fa fa-cart-plus"></i>
                            <span>
                                {{'productPage.addToCart' | translate}}
                            </span>

                        </button>

                        <button type="button" class="btn btn-block" ng-click="addRemoveToWishlist()"
                                id="add-to-wishlist-btn">
                            <i class="fa "
                               ng-class="{'fa-heart-o': !isProductInWishlist(), 'fa-heart': isProductInWishlist()}"></i>
                            <span ng-if="!isProductInWishlist()">
                                {{'wishlist.add' | translate}}
                            </span>
                            <span ng-if="isProductInWishlist()">
                                {{'wishlist.remove' | translate}}
                            </span>

                        </button>

                    </div>

                </div>
            </div>

            <hr/>

            <div class="row">
                <div class="col-md-12">
                    <similar-products product-id="{{productId}}"></similar-products>
                </div>
            </div>

            <hr/>

            <div class="row">
                <div class="col-md-6">
                    <tracklist tracks="product.tracks"></tracklist>
                </div>
                <div class="col-md-6 product-video-container">
                    <videolist videos="product.videos"></videolist>
                </div>
            </div>

        </white-box>


    </div>
</div>