<div class="">
    <dl class="table-like">

        <dt>{{'clsTab.instruments' | translate}}</dt>
        <dd>{{clsCtrl.cls.instruments || '-'}}</dd>

        <dt>{{'clsTab.conductor' | translate}}</dt>
        <dd>{{clsCtrl.cls.conductor || '-'}}</dd>

        <dt>{{'clsTab.genre' | translate}}</dt>
        <dd>{{clsCtrl.cls.genre || '-'}}</dd>

        <dt>{{'clsTab.longtitle' | translate}}</dt>
        <dd>{{clsCtrl.cls.longtitle || '-'}}</dd>

        <dt>{{'clsTab.orchestra' | translate}}</dt>
        <dd>{{clsCtrl.cls.orchestra || '-'}}</dd>

        <dt>{{'clsTab.soloists' | translate}}</dt>
        <dd>{{clsCtrl.cls.soloists || '-'}}</dd>

    </dl>


</div>