<nav class="multistep-indicator-nav">
    <ul class="list-inline">
        <li><span><i class="fa fa-shopping-cart"></i></span></li>
        <li><a href="" ui-sref="home.cart"><span>{{'checkout.Details' | translate}}</span></a></li>
        <li><a href="" ui-sref="home.checkoutDetails"><span>{{'checkout.ShippingInfo' | translate}}</span></a></li>
        <li><a><span>{{'checkout.Payment' | translate}}</span></a></li>
        <li><a><span>{{'checkout.Confirmation' | translate}}</span></a></li>
    </ul>
</nav>